.app {
  padding: 0 !important;
}
a {
  text-decoration: none;
}
.links {
  text-decoration: none;
  color: white;
}
.content{
  margin-top: 20px;
}
.title{
  margin-top:20px;
}
.create {
  width: 100% !important;
  margin: 100px auto !important;
}
.create input {
  margin-bottom: 20px !important;
}
.create__button {
  margin-top: 30px !important;
}
